<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Products</th>
      <th>Bought</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.products %></td>
        <td><%= list.status %></td>
        <td><%= list.user.name %></td>
        <td><%= link_to 'Show', list, class:'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_list_path(list), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
