<p id="notice"><%= notice %></p>

<p>
  <strong>Products:</strong>
  <%= @list.products %>
</p>

<p>
  <strong>Status:</strong>
  <%= @list.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user.name %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
